.email-list::-webkit-scrollbar {
    display: none;
}

.email-item {
	border: 1px solid #cfd2dc;
    background-color: #FFFFFF;
	border-radius: 4px;
	padding: 10px;
	margin: 0px 0px 20px 0px;
	cursor: pointer;
	display: flex;
	align-items: flex-start;
}

.email-item.selected {
    background-color: #FFFFFF !important;
	border: 1.5px solid #E54065;
}

.email-item.unread {
	font-weight: bold;
}

.email-item.read {
    color: #636363;
	background-color: #F2F2F2;
}

.avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #E54065;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	margin-right: 10px;
}

.email-content {
    overflow: hidden;
	flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.email-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.from,
.date {
	font-size: 12px;
	color: #5f6368;
}

.subject {
	font-size: 14px;
	margin-bottom: 5px;
}

.short-description {
	font-size: 12px;
	color: #5f6368;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.favorite-tag {
    font-weight: bold;
	font-size: 12px;
	color: #E54065;
    margin-left: 25px;
}

.email-footer {
    display: inline;
    margin-top: 10px;
    font-size: 12px;
    color: #5f6368;
}


