.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.pagination-button {
	background-color: #e54065;
	color: white;
	border: none;
	padding: 8px 16px;
	margin: 0 5px;
	cursor: pointer;
	border-radius: 4px;
}

.pagination-button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}

.pagination-current {
	margin: 0 10px;
	font-size: 14px;
}
